{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
 

<a id="previous-page-btn" href="/app_home">
    <i class="bi bi-arrow-left"></i>
</a>

{% if app.user %}
    <div class="mb-3">
        You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
    </div>
{% endif %}

<div class="form-signin">
    <h1 class="h3 mb-3 font-weight-normal">CONNEXION</h1>
    <label for="inputEmail">Email</label>
    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
    <label for="inputPassword">Password</label>
    <input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">
           <button class="btn btn-lg btn-black btn-block" type="submit">
            Connectez-vous
        </button>
        
       
</div>

<style>
    .h3{
        font-size: 25px;
        font-weight: bold;
    }
    .btn-black {
                background-color: #000;
                color: #fff;
            }
    .form-signin {
        max-width: 400px;
        margin: 0 auto;
        text-align: center;
    }
    .form-signin label {
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .form-signin input[type="email"],
    .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        padding: 10px;
        margin-bottom: 10px;
        font-weight: bold;
    }
</style>

{% endblock %}
