{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

    <style>
        .example-wrapper { margin: 1em auto; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>

    <div class="example-wrapper">
        <div class="admin_title">
            <h3>Titres les plus likés</h3>
        </div>
        <div class="admin_show_liked">
            <h4>Artiste</h4>
            <h5>Titre</h5>
            <i class="fa fa-heart" style="font-size:36px"></i>
        </div>
        <div class="admin_category">
            {# <h3>CATEGORIES</h3> #}
            <a href="{{ path('app_category_new') }}">
            <i class="fa fa-plus" id="admin_plus_icon" style="font-size:36px"></i></a>
        </div>

        {{ include('category/show.html.twig') }}

    </div>
{% endblock %}
