{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <div class="admin_title">
        <h1>Titre Category</h1>
        {{ include('category/show.html.twig') }}
    </div>
    <div class="admin_show_songs">
        show songs de la category
        <h4>Artiste</h4>
        <h5>Titre</h5>
    </div>
</div>
{% endblock %}