{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<section id="swiperAndList">
		<div class="swiper-container">
			<div class="swiper-wrapper">
				{% for data in myData %}
					<div class="swiper-slide" data-id="{{ data.categoryId }}">
						<img src="{{ asset('/img/categories/' ~ data.categoryPath) }}" alt="{{ data.categoryAlt }}" id="homeCategoryImage">
						<h1 id="homeCategoryName">{{ data.categoryName }}</h1>
					</div>
				{% endfor %}
			</div>
		</div>

		<ul id="home-song-list"></ul>

		{% if app.user %}
			<script>
				var isAuthenticated = true;
			</script>
		{% endif %}
		
	</section>
{% endblock %}
