{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
{% block styles %}

    
<a id="previous-page-btn" href="/app_home">
    <i class="bi bi-arrow-left"></i>
</a>

 <div class="titleForm">INSCRIPTION</div>

<div class="container disc-image">
    <img src="/img/disc.png" alt="disque vinyle">
    <div class="h2">INSCRIPTION</div>
  </div>
<form class="form-inline">
    <div class="d-flex flex-column justify-content-center align-items-center">
        
    <div class="form-group mx-sm-3 mb-2">
        <label for="nom" class="sr-only">Nom :</label>
        <input type="text" class="form-control" id="nom" placeholder="Nom">
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <label for="prenom" class="sr-only">Prénom :</label>
        <input type="text" class="form-control" id="prenom" placeholder="Prénom">
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <label for="adresse" class="sr-only">Adresse mail :</label>
        <input type="text" class="form-control" id="adresse" placeholder="Adresse mail">
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <label for="password" class="sr-only">Mot de passe :</label>
        <input type="password" class="form-control" id="password" placeholder="">
    </div>
    <div class="form-group mx-sm-3 mb-2">
        <button type="submit" class="btn id="valider"  btn-primary">Valider</button>
        <button type="button" class="btn  id="annuler" btn-secondary">Annuler</button>
    </div>
</div>
</form>    

  {% endblock %}
{% endblock %}