body {
  margin: 0;
  background-image: url(/img/wood-mobile-bg.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

header {
  display: flex;
  justify-content: flex-end;
}

#previous-page-btn {
  color: black;
  font-size: 30px;
  font-weight: 900;
  margin-left: 3vw;
}

/* footer {
  background-color: black;
  width: 100vw;
  height: 10vh;
  position: fixed;
  bottom: 0;
} */

#logo {
  width: 90px;
  float: right;
}

#headerLogo {
  width: 100vw;
  float: right;
}

h1 {
  font-family: Asap;
  text-transform: uppercase;
  color: white;
  font-size: 30px;
}

h2 {
  font-family: Asap;
  text-transform: uppercase;
  color: white;
  font-size: 15px;
  position: absolute;
  top: 73%;
  width: 100vw;
  text-align: center;
  padding-top: 1vh;
}

#containerh2 {
  background: url(/img/disc.png) no-repeat center;
  background-size: contain;
  height: 25vh;
  padding-bottom: 2vh;
  position: relative;
  display: flex;
  justify-self: center;
  text-align: center;
  margin-top: -50px;
}
h3 {
  font-size: 40px;
  font-family: Asap;
  text-transform: uppercase;
}

h4 {
  font-size: 18px;
  font-family: Asap;
  font-weight: bold;
  text-transform: uppercase;
}
h5 {
  font-size: 16px;
  font-weight: bold;
  font-family: Asap;
}

h6 {
  font-family: Asap;
  color: white;
  font-size: 18px;
}

label {
  font-size: 20px;
  font-family: Asap;
  font-weight: bold;
}
input {
  border-radius: 10px;
  border: none;
}

button {
  width: 20vw;
  border-radius: 20px;
  border: none;
  background-color: black;
  color: white;
}

td {
  border: none;
}

/* a {
  text-decoration: none;
  color: white;
  cursor: pointer;
} */

#favorite-btn {
  width: 20px;
}
#navbarMobile {
  position: fixed;
  bottom: 0;
  z-index: 6;
}

#navbarDesktop {
  display: none;
}

/* MEDIA QUERIES */
@media only screen and (min-width: 768px) {
  #logo {
    width: 180px;
  }
  h4 {
    font-size: 25px;
  }
  h5 {
    font-size: 25px;
  }
  #previous-page-btn {
    font-size: 40px;
  }
  #favorite-btn {
    width: 30px;
  }
}

@media screen and (min-width: 1024px) {
  #logo {
    width: 150px;
  }

  #btnNavBar {
    display: none;
  }

  #navbarDesktop {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    width: 100vw;
    height: 5vh;
    color: white;
    background-color: black;
    position: fixed;
    bottom: 0;
    align-items: center;
  }

  .linksNavbarDesktop {
    display: flex;
    font-size: 10px;
  }

  a {
    font-size: 15px;
  }

  .navbar {
    display: none !important;
  }

  #favorite-btn {
    width: 40px;
  }

  h4 {
    font-size: 25px;
  }
  h5 {
    font-size: 23px;
  }
  #previous-page-btn {
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
  }
  #containerh2 {
    margin-top: -100px;
    height: 35vh;
  }
}
