.okk {
  background-color: aquamarine;
  width: 80px;
}
.admin_show_songs {
  display: flex;
}
.admin_show_liked {
  padding-bottom: 6%;
}
.admin_show_liked,
.admin_category,
.admin_one_category {
  margin: 5%;
  display: flex;
  justify-content: space-around;
}

.admin_burger {
  display: none;
}
.show_category {
  display: flex;
  padding: 7%;
}
.swiper-container,
.swiper-category-show {
  display: flex;
  flex-wrap: wrap;
}

#show_pen,
#show_trash,
#admin_plus_icon {
  margin-right: 15px;
  color: black;
}
#show_pen:hover,
#show_trash:hover,
#admin_plus_icon:hover {
  scale: 1.15;
}
#admin_show_song:hover {
  scale: 1.05;
}
/* / Admin Song css / */

#admin_mid_song {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.btn_update_admin_song {
  margin: 8% 45%;
}
/* / Admin css / */

#home-play-btn {
  font-size: 20px;
}

#show_pen_admin {
  color: black;
  margin-right: 15px;
}
#name_song_admin {
  color: black;
}
#admin_display_mid {
  display: flex;
  justify-content: center;
}
#show_trash_admin_id {
  margin-bottom: 20%;
  padding: 0px;
}
#bot_admin {
  margin-bottom: 5% !important;
}
#admin_favori_display {
  display: flex;
  justify-content: space-evenly;
}
.admin_favori_info,
#admin_heart_fa {
  margin-top: 5%;
}
#admin_favori_img {
  margin: 1%;
}
#admin_favori_id {
  margin-bottom: 10%;
}
.btn_admin_song {
  margin: 12% 0;
}
.admin_favori_margin {
  margin-left: 30%;
  margin-right: 30%;
}

/* admin */
@media (max-width: 500px) {
  #admin_favori_img {
    width: 60px;
    height: 40px;
  }
  #admin_heart_fa {
    font-size: 20px !important;
  }
}
@media (max-width: 665px) {
  #admin_show_song {
    width: 150px !important;
    height: 110px !important;
  }
}

@media (max-width: 600px) {
  .swiper-category-show {
    display: flex !important;
    justify-content: start !important;
  }
  #category,
  #song {
    margin: 0 35% !important;
  }
}
@media (max-width: 1190px) {
  .swiper-category-show {
    display: flex;
    justify-content: center;
  }
  #admin_show_song {
    width: 400px;
    height: 300px;
  }
}
@media (max-width: 1358px) {
  #admin_show_song {
    width: 340px;
    height: 220px;
  }
}
/* / Admin css / */

#home-play-btn {
  font-size: 20px;
}

#show_pen_admin {
  color: black;
  margin-right: 15px;
}
#name_song_admin {
  color: black;
}
.admin_black {
  color: black;
  display: flex;
  justify-content: center;
}
#admin_display_mid {
  display: flex;
  justify-content: center;
}

#show_trash_admin_id {
  background-color: transparent;
  margin-bottom: 20%;
  padding: 0px;
}

#admin_bottom {
  margin-bottom: 20%;
  margin-left: 8%;
}
#bot_admin {
  margin-bottom: 5% !important;
}
#admin_favori_display {
  display: flex;
  justify-content: space-evenly;
}
.admin_favori_info,
#admin_heart_fa {
  margin-top: 5%;
}
#admin_favori_img {
  margin: 1%;
}
#admin_favori_id {
  margin-bottom: 10%;
}
.btn_admin_song {
  margin: 12% 0;
}
.admin_favori_margin {
  margin-left: 30%;
  margin-right: 30%;
}

/* song */

.swiper_song_admin {
  display: flex;
  justify-content: center;
}

@media (max-width: 640px) {
  .container_responsive_admin_song {
    display: flex;
    flex-wrap: wrap;
    border-bottom: solid 2px black;
  }
  #pic_admin_index {
    width: 250px;
    height: 210px;
  }
  #bot_admin {
    display: none;
  }
  .swiper_song_admin {
    border-bottom: solid 2px black;
  }
}
/* Form */
#category,
#song {
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin: 0 45%;
}
