#favoriteImage {
  width: 60px;
}

#formDeleteFavorite {
  width: 60%;
  display: flex;
  justify-content: flex-start;
}
.tdFavoriteList {
  text-align: center;
  width: 5%;
}

#btnPlayerFavorite {
  font-size: 25px;
  color: black;
}

#btnTrashFavorite {
  font-size: 20px;
}
