#favoriteImage {
  width: 60px;
}

#favoriteList {
  margin-left: 10vw;
}

#formDeleteFavorite {
  width: 60%;
  display: flex;
  justify-content: flex-start;
}
.tdFavoriteList {
  text-align: center;
}

#btnPlayerFavorite {
  font-size: 25px;
}

#btnTrashFavorite {
  font-size: 20px;
}
