/* /All pages element / */
#homePage {
  display: flex;
  flex-direction: column;
}

/* / Swiper elements / */
.swiper-container {
  width: auto;
  overflow: hidden;
  margin-bottom: 1.5em;
}

.swiper-slide {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* / Image of each category of the slider / */
#homeCategoryImage {
  width: 260px;
  height: 260px;
}

/* / Title of each category of the slider / */
#homeCategoryName {
  margin-top: -2em;
}

/* / List of songs / */
.songListContainer {
  width: 90%;
  padding-bottom: 2em;
  margin-bottom: 4em;
}

/* / Actual table of songs / */
#home-song-list {
  width: 100%;
  margin: 0 1em;
}

/* / Link towards player / */
.homeSong {
  text-decoration: none;
  color: black;
}

#home-play-btn {
  font-size: 20px;
}

/* / MEDIA QUERIES */

@media screen and (min-width: 760px) {
  .swiper-container {
    margin-bottom: 2em;
  }

  #homeCategoryImage {
    width: 400px;
    height: 400px;
  }
  
  #home-play-btn {
    font-size: 30px;
  }
}

@media screen and (min-width: 1024px) {

  #home-play-btn {
    font-size: 40px;
  }
}

