#swiperAndList  {
  height: 80vh;
}

.swiper-container {
  width:auto;
  overflow-x: hidden;
  height: 40vh;
  margin-bottom: 1.5em;
}

#song-list {
  height: 40vh;
}
.swiper-wrapper {
  height: 100%;
}

.swiper-slide {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.swiper-slide > img {
  width:100%;
  height: 80%;
  position: relative;
}

.swiper-slide > h1 {
  position: absolute;
  top: 80%;
  left: 38%;
}

ul {
  list-style: none;
}

li > a {
display: flex;
text-decoration: none;
color:black
}

.homeSong{
  display: flex;
  justify-content: space-between;
}

#swiperAndList {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.hidden {
  display: none;
}

/* MEDIA QUERIES */
@media screen and (min-width:800px){
  .swiper-container {
    height: 50%;
  }
}