#playerSection {
display: flex;
flex-direction: column ;
}

#my-player {
    width: 75%;
}

#previous-song-btn, #next-song-btn{
    color: black;
    font-size: 30px;
    padding:none;
}

#animDisc {
    display: flex;
    height: 32vh ;
    width : 90vw ;
    margin: 0 1em;
}

.disc {
    position: relative;
   margin-left : 2.5em;
    width: 210px;
    height: 210px;
}

.headshell {
    position: absolute;
    width: 24%;
    top: 24%;
    left : 60%;
}

.move {
    animation: move-headshell 2s forwards;
}

@keyframes move-headshell {
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(27deg);
      }
      }

.reset {
    animation: reset-headshell 1.5s forwards;
    }

@keyframes reset-headshell {
    from {
        transform: rotate(27deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.rotate {
    animation: rotate-disc 2s linear infinite;
    animation-delay: 1.5s;
}

@keyframes rotate-disc {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

#songandPlayer{
    height:28vh;
}

#player-song-infos{
    display: flex;
    justify-content: center;
    margin: 1em;
    height : 18vh;
}

#album-image{
    width:100px;
    height:100px;
    margin-left : 3em;
}

.player-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.3em;
    }
    
#song-artist {
    margin: 0 1em;
}

#song-title {
    margin-left : 1em;
    margin-top : 0.5em;
}

/* MEDIA QUERIES */
@media only screen and (min-width:760px){

#playerSection {
    flex-direction: row;
}

#animDisc {
    width:45vw;
    height : 45vh;
    display: flex;
    align-items: center;
}

.disc {
    width : 300px;
    height : 300px;
    margin-left: 0;
}

.headshell {
    width:15%;
    top: 28%;
    left :39%;
}

#songandPlayer{
    display:flex;
    flex-direction: column;
    height:50vh;
    justify-content: center;
    align-items: space-between;
}

#player-song-infos{
    display: flex;
    justify-content: space-around;
    margin-left: 2em;
    margin-bottom: 1em;
    height : 20vh;
}

#album-image{
    width:150px;
    height:150px; 
   margin-left : 1em;
}

#my-player {
    width: 75%;
    margin: 0.3em;
}

}

@media screen and (min-width:820px){

    .headshell {
        width:15%;
        top: 25%;
        left :36%;
    }

}

@media screen and (min-width:1024px){

    .disc {
        width : 400px;
        height : 400px;
    }

    .headshell {
        width:15%;
        top: 25%;
        left :38%;
    }

    @keyframes move-headshell {
        0% {
            transform: rotate(0deg);
        }
          
        100% {
            transform: rotate(25deg);
        }
    }

    #animDisc, #songandPlayer {
        height : 60vh;
    }
     
}

@media screen and (min-width:1124px){

    .headshell {
        left :33%;
    }

}

@media screen and (min-width:1224px){

    .headshell {
        width:13%;
        left: 28%;
    }
     
}

@media screen and (min-width:1440px){

    .disc {
        width : 450px;
        height : 450px;
    }

    .headshell {
        width:12%;
        top: 31%;
        left: 30%;
      
    }

    @keyframes move-headshell {
        0% {
            transform: rotate(0deg);
        }
          
        100% {
            transform: rotate(25deg);
        }
    }

    #animDisc, #songandPlayer {
        height : 70vh;
    }
    
    #album-image {
        width: 180px;
        height: 180px;
    }
     
}

    



