#profilForm {
  margin-left: 5vw;
  margin-top: 10vh;
  text-align: -webkit-center;
}

#containerProfilForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 3vh;
  width: 40vw;
}
.profilFormElement {
  text-align: start;
}
#bottomForm {
  margin-left: 50px;
}

.formProfilInformations {
  background-color: white;
  padding: 5px;
  /* font-size: 30px; */
  width: 50vw;
}
#containerProfil {
  margin-left: 25vw;
  margin-bottom: 4vh;
}

#containerPageProfil {
  padding-bottom: 5vh;
}

.form-control {
  width: 50vw;
}

#btnValidateEditProfil {
  text-align: center;
  margin-bottom: 5px;
}

#btnUpdateProfil {
  text-align: center;
}

#btnDeleteProfil {
  width: 50vw;
  text-align: center;
}

#formDelete {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  #btnDeleteProfil {
    width: 30vw;
  }
}

@media only screen and (min-width: 1024px) {
  .offcanvas-body {
    align-self: center;
  }
  .nav-item {
    font-size: 20px;
  }
  #btnDeleteProfil {
    width: 40vw;
  }
}
