#profilForm {
  margin-left: 5vw;
  margin-top: 10vh;
  text-align: -webkit-center;
}

#containerProfilForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 3vh;
  width: 40vw;
}
.profilFormElement {
  text-align: start;
}
#bottomForm {
  margin-left: 50px;
}

.elementsProfil {
  margin-top: 8vh;
}

.formProfilInformations {
  background-color: white;
  padding: 5px;
  width: 50vw;
  border-radius: 10px;
}
#containerProfil {
  margin-left: 25vw;
  margin-bottom: 3vh;
}

#containerPageProfil {
  padding-bottom: 5vh;
}

.form-control {
  width: 50vw;
}

#btnValidateEditProfil {
  text-align: center;
  margin-bottom: 2vh;
}

#btnUpdateProfil {
  text-align: center;
  margin-bottom: 2vh;
}

#btnDeleteProfil {
  width: 50vw;
  text-align: center;
  background-color: transparent;
  color: black;
  font-style: italic;
  font-size: 13px;
  margin-bottom: 10vh;
  z-index: 8;
  position: relative;
}
#iconDeleteProfil {
  font-size: 20px;
}
#formDelete {
  text-align: center;
}
#form-group-password-user {
  display: none;
}
@media only screen and (min-width: 768px) {
  #btnDeleteProfil {
    width: 30vw;
  }

  #btnDeleteProfil {
    font-size: 13px;
  }
}

@media only screen and (min-width: 1024px) {
  .offcanvas-body {
    align-self: center;
  }
  .nav-item {
    font-size: 15px;
  }
  #btnDeleteProfil {
    font-size: 20px;
    margin-bottom: 1vh;
  }
  .elementsProfil {
    margin-top: 1vh;
  }
  #btnModifyUser {
    width: 13%;
  }
}
