
    @media (max-width: 768px) {
  
      /* body {
        overflow-y: hidden;
        height: 100vh;
      } */
      form {
        display: flex;
        justify-content: center;
        max-width: 400px;
        position: absolute;
        margin-bottom: 30px;
        left: 34%;
      }

    
      label {
        display: flex;
        font-size: 18px;
        font-weight: bold;
        margin-top: 10px;
        align-items: center;
      }
    
      .form-group input {
        display: flex;
        width: 200px;
        height: 50px;
        align-self: center;
      }
    
      div.form-group{
        display: flex;
      }
    
      .button-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
      
      .btn {
        background-color: black;
        color: white;
        margin: 15px;
        border-radius: 50px;
        height: 28px;
        width: 105%; 
         line-height: 10px;
      }
    }
  
/* MEDIA QUERIES */
@media only screen and (min-width: 1023px){
  
  .form-group input {
     width: 500px;
     height: 65px;
  }
  form {
    position: absolute;
    /* top: 50%; */
    left: 50%;
    transform: translate(-25%, 10%);
    width: 50%;
  }
  

  label {
    font-size: 21px;
    font-weight: bold;
    margin-top: 5px;
    padding: 15px;
    width: 400px;
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 550px;
    margin-left: auto; 
    margin-right: 50px; 
  }

  .button-container button {
    background-color: black;
    color: white;
    margin: 30px 30px;
    width: 300px;
    border-radius: 50px;
    height: 40px;
    margin-bottom: 300px;
    padding: 10px;
  }

  body {
    overflow-x: hidden;
  }
}
