{% extends 'base.html.twig' %}

{% block title %}New Category
{% endblock %}

{% block body %}
	<a id="previous-page-btn" href="/admin">
		<i class="bi bi-arrow-left"></i>
	</a>

	<h1 class="admin_black" id="admin_display_mid">Créer une nouvelle catégorie</h1>

	{{ include('category/_form.html.twig') }}

{% endblock %}
