<form method="post" action="{{ path('app_song_delete', {'id': song.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cette chanson ?');">
	<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ song.id) }}">
	<button class="btn_delete_admin" id="show_trash_admin_id">
		<i class="fa fa-trash-o" id="show_trash" style="font-size:30px"></i>
	</button>
</form>
