{% extends 'base.html.twig' %}

{% block title %}Edit Song
{% endblock %}

{% block body %}

<a href="{{ path('app_admin') }}"><button>Retour à la liste</button></a>

<h1 class="admin_black" id="admin_display_mid">Modifer une Chanson</h1>


	{{ include('song/_form.html.twig', {'button_label': 'Update'}) }}

{% endblock %}
