{% extends 'base.html.twig' %}

{% block title %}New Song{% endblock %}

{% block body %}
<a href="{{ path('app_admin') }}">Retour à la liste</a>

    <h1>Créer une nouvelle chanson</h1>

    {{ include('song/_form.html.twig') }}
{% endblock %}
